.browse-container {
    display: flex;
    height: 100vh; /* Ensure the container takes up the full viewport height */
}

.sidebar-browse {
    width: 200px;
    padding: 10px;
    border-right: 1px solid #ccc;
    background-color: #f7f7f7;
    overflow-y: auto; /* Make the sidebar scrollable */
    height: 100%;
}

.main-content {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto; /* Make the main content scrollable */
    height: 100%;
}

.filter-options {
    margin-top: 20px;
}

.filter-options label {
    display: block;
    margin-bottom: 10px;
}

.song-item {
    margin-bottom: 10px;
}
