.App ul {
  list-style-type: none;
  padding: 0;
}

.App li {
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ccc;
  cursor: grab;
}

.App li:hover {
  background-color: #e0e0e0;
}

.App li:active {
  cursor: grabbing;
}

.kinder {
  background-color: rgb(120, 120, 189);
}

.rhythmic {
  background-color: rgb(112, 87, 112);
}

.melodic {
  background-color: rgb(167, 207, 167);
}
